body{
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  }
  
h1{
  margin-top: 200px;
  font-style: italic;
}
h2.yepnope{
  font-size: 8em;
}
span.by{
  font-size: .7em;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
span.by a{
  color: black !important;
}
